@model Portfolio.Models.RegisterModel

@using (Html.BeginForm("JsonRegister", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { Id = "registerForm" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
            <div>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { id = "registerName", @class = "form-control" })
            </div>
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <br />
        <div>
            <input type="submit" value="Sign up" class="btn btn-primary" />
        </div>
        @Html.ValidationSummary()
    </fieldset>
}