<div id="styleScripts">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/SiteCss")
</div>
<div id="libraryBundles">
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryVal")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toast")
    @Scripts.Render("~/bundles/highStock")
    @Scripts.Render("~/bundles/underScore")
</div>

<div id="appScripts">
    @Scripts.Render("~/bundles/angularApp")
    <script src="~/libs/core-js/client/shim.min.js"></script>
    <script src="~/libs/zone.js/dist/zone.js"></script>
    <script src="~/libs/reflect-metadata/Reflect.js"></script>
    <script src="~/libs/systemjs/dist/system.src.js"></script>
    <script src="~/Scripts/_App2/systemjs.config.js"></script>
    <script>

    System.import('../Scripts/_App2').catch(function (err) {
        console.error(err);
    });
    </script>
</div>