<div id="styleScripts">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/SiteCss")
</div>
<div id="libraryBundles">
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryVal")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toast")
    @Scripts.Render("~/bundles/highStock")
    @Scripts.Render("~/bundles/underScore")
</div>

<div id="appScripts">
    @if (User.Identity.IsAuthenticated)
    {
        @Scripts.Render("~/bundles/angularApp")
    }
    else
    {
        @Scripts.Render("~/bundles/NoAuth")
    }
</div>
