<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>Portfolio</title>
    <meta name="description" content="S.E. Enterprises algorithmic trading API." />
    <base href="/AlgoTrader/" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/SiteCss")
    @if (User.Identity.IsAuthenticated)
    {
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/Angular")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryVal")
        @Scripts.Render("~/bundles/respond")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/toast")
        @Scripts.Render("~/bundles/highStock")
        @Scripts.Render("~/bundles/underScore")
        @Scripts.Render("~/bundles/angularApp")
        @Scripts.Render("~/bundles/angularModules")
        @Scripts.Render("~/bundles/angularDirectives")
        @Scripts.Render("~/bundles/angularServices")
        @Scripts.Render("~/bundles/angularControllers")
        @RenderSection("scripts", false)
    }
    else
    {
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/Angular")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryVal")
        @Scripts.Render("~/bundles/respond")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/toast")
        @Scripts.Render("~/bundles/highStock")
        @Scripts.Render("~/bundles/underScore")
        @Scripts.Render("~/Scripts/App/NoAuth.js")
        @Scripts.Render("~/Scripts/App/Controllers/NavigationController.js")
        @Scripts.Render("~/Scripts/App/Services/authenticationService.js")
        @Scripts.Render("~/Scripts/App/Controllers/AuthController.js")
        @Scripts.Render("~/Scripts/App/Controllers/RegistrationController.js")
    }
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div ng-app="AlgoTrader" ng-cloak>
            @RenderBody()
        </div>
    }
    else
    {
        <div ng-app="NoAuth" ng-cloak>
            @RenderBody()
        </div>
    }
</body>
</html>